
.country-container{
    display:flex;
    height:100vh;
    justify-content: space-between;
    align-items: center;
    gap:120px;

}
.flag{
    border-radius: 10px;
    width:560px;;
    height:400px;
}
.data {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 columns with equal width */
    grid-template-rows: repeat(5, auto); /* 5 rows with auto height */
    row-gap: 10px; /* Adjust the gap between grid items as needed */
    column-gap: 140px;
}
.span-2{
    grid-column: span 2;
}
.data-container h1{
    margin-bottom: 23px;
}
.back-link{
    position: absolute;
    top: 160px;
    font-size:16px;
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:10px;
    width:136px;
    height:40px;
    border-radius: 6px;
    box-shadow: 0 0 7px 0 hsl(0, 0%,0%, 29.3%);

}
.back-link.dark{
    background-color: #2B3844;
    width:136px;
    height:40px;
    border-radius: 6px;
    
}
.border-countries-container{
    display: flex;
    /* align-items: center; */
    white-space: nowrap;
    margin-top: 68px;
}
.border_countries{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding-left: 15px;
}

.border_countries li a.light{
    text-decoration: none;
    color: #000000;
}
.border_countries li a.dark{
    text-decoration: none;
    color: #FFFFFF;
}
.border-countries li.dark{
    background-color: #2B3844;
    box-shadow: 0 0 4px 1px hsl(0, 0%,0%, 25.4%);
}
.border-countries li.light{
    background-color: #ffffff;
    
}
.border_countries li{
    display: flex;
    height:28px;
    padding: 0 20px;
    box-shadow: 0 0 4px 1px hsl(0, 0%,0%, 10.5%);
    border-radius: 2px;
    align-items: center;
}
@media only screen and (max-width:500px) {
    .country-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        gap:44px;
    }
    .back-link{
        position: absolute;
        top: 120px;
        width:104px;
        height:32px;
        font-size: 14px;
    }
    .back-link.dark{
        background-color: #2B3844;
        width:104px;
        height:32px;
        border-radius: 6px;
    }
    .flag{
        width:100%;
        margin-top: 140px;
        height:229px;
    }
    .data{
        display:flex;
        flex-direction: column;
    }
    .data-container h1{
        font-size: 22px;
    }
    .country-container{
        font-size: 12px;
    }
    .border-countries-container{
        display: flex;
        flex-direction: column;
        gap:16px;
    }
    .border_countries{
        padding: 0;
    }
}
@media only screen and (min-width: 500px) and (max-width: 700px) {
    .country-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        gap:44px;
    }
    .flag{
        width:100%;
        margin-top: 160px;
        height:400px;
    }
    .back-link{
        position: absolute;
        top: 120px;
    }
}
@media only screen and (min-width: 700px) and (max-width: 1000px) {
    .country-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        gap:44px;
    }
    .back-link{
        position: absolute;
        top: 120px;
    }
    .flag{
        margin-top: 160px;
        height:400px;
    }
}
@media only screen and (min-width: 1000px) and (max-width: 1280px) {
    .data{
        display:flex;
        flex-direction: column;
    }
    .border-countries-container{
        margin-top: 40px;
    }
}